{
	{%if consul_start_join|length > 0 %}
	"start_join": ["{{ consul_start_join | join("\",\"") }}"],
	"retry_join": ["{{ consul_start_join | join("\",\"") }}"],
	{% endif %}
	"rejoin_after_leave": {{consul_rejoin_after_leave|lower}},
	"retry_interval": "{{consul_retry_interval}}",
	"addresses": {
		"dns": "{{consul_dns_address}}",
		"http": "{{consul_http_address}}",
		"https": "{{consul_http_address}}",
		"rpc": "{{consul_rpc_address}}"
	},
	{%if consul_advertise_address != "" %}"advertise_addr": "{{consul_advertise_address}}", {% endif %}
	"client_addr": "{{consul_client_address}}",
	"bind_addr": "{{consul_bind_address}}",
	"ports": {
		"dns": {{consul_dns_port}},
		"http": {{consul_http_port}},
		"rpc": {{consul_rpc_port}},
		"serf_lan": {{consul_serf_lan_port}},
		"serf_wan": {{consul_serf_wan_port}},
		"server": {{consul_server_port}}
	},
	"dns_config": {
		"allow_stale": {{consul_dns_allow_stale|lower()}},
		"max_stale": "{{consul_dns_max_stale}}",
		"node_ttl": "{{consul_dns_node_ttl}}",
		"service_ttl": { },
		"enable_truncate": {{consul_dns_enable_truncate|lower()}},
		"only_passing" : {{consul_dns_only_passing|lower()}}
	},
	"domain": "{{consul_dns_domain}}"
	
	{%if consul_dns_recursors|length > 0 %}"recursors": ["{{ consul_dns_recursors |join("\",\"") }}"]
	{% endif %}
}
